[Desktop Entry]
Name=Fire Floppa
Comment=An alternative for the World Wide Web
Type=Application
Exec=napture
Terminal=false
Categories=Network;WebBrowser;GTK;
Icon=io.github.floppag.ff
StartupNotify=true

